.user-form {
    width: 400px
}

.field {
    width: 300px;
    margin-bottom: 10px;
}

// .card_main {
//     width: 350
// }
.user-for {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center
}

.card_body {
    display: flex;
    align-items: center;
    align-content: center;
}